<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="60 seconds" status="WARN">

    <property name="LOG_PATH" value="/var/log/tomcat"/>
    <property name="LOG_FILE" value="demo.log"/>
    <property name="LOG_ERROR_FILE" value="demo-error.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{36}] [%-5level] - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- 일반 로그 파일 롤링 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>30MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{36}:%L] [%-5level] - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 에러 로그 파일 롤링 설정 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${LOG_ERROR_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_ERROR_FILE}-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>30MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{36}:%L] [%-5level] - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger 설정 -->
    <logger name="com.example.demo" level="DEBUG" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="jdbc.sqltiming" level="ERROR" />
    <logger name="jdbc.sqlonly" level="INFO" />
    <logger name="jdbc.resultset" level="ERROR" />
    <logger name="jdbc.resultsettable" level="ERROR" />
    <logger name="jdbc.audit" level="ERROR" />

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
